<a href="https://colab.research.google.com/github/yashna02/MRIO-SDA-using-PyMRIO/blob/main/Extracting_F_Matrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Getting the Total CO2 Emissions (F) Matrix**

For an environmentally extended MRIO, we need data on country-wise and sector-wise total CO2 emissions which can be obtained from Environmental Accounts WIOD 2016: [E-WIOD 2016](https://joint-research-centre.ec.europa.eu/document/download/b572c87b-a2fb-4ab6-af38-ff0451273e9e_en?filename=co2em56.zip)

This needs to be converted into a (1 x mn) matrix to be fed into the PyMRIO system (m is the no. of countries and n is the no. of sectors). 

To do this, we first made some modifications in the original file on excel and have uploaded that on GitHub in the folder CO2_Emissions. The file is titled "CO2 emissions.xlsx". We further work upon it using the code below. Hence, that file must be imported first before running this code.

In [ ]:
#Setting Up and Initialising
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [ ]:
# Import edited CO2 emissions file 

# Replace 'file_path' with the actual path of your Excel file
file_path = "/path/where/your/CO2 emissions.xlsx/file/is/saved"

# Read the Excel file and get the sheet names
xls = pd.ExcelFile(file_path)
sheet_names = xls.sheet_names

# Iterate over the sheet names and save each sheet as a DataFrame
for sheet_name in sheet_names:
    df = pd.read_excel(file_path, sheet_name=sheet_name)
    
    # Save the DataFrame with the sheet name as the variable name
    globals()[sheet_name] = df

    # Save the DataFrame to a file with the sheet name
    df.to_excel(f'{sheet_name}.xlsx', index=False)

In [ ]:
# The data in 'AUT' sheet gets saved as a dataframe named 'AUT'
AUT

,Unnamed: 0,AUT,AUT.1,AUT.2,AUT.3,AUT.4,AUT.5,AUT.6,AUT.7,AUT.8,...,AUT.46,AUT.47,AUT.48,AUT.49,AUT.50,AUT.51,AUT.52,AUT.53,AUT.54,AUT.55
0,NaN,A01,A02,A03,B,C10-C12,C13-C15,C16,C17,C18,...,M72,M73,M74_M75,N,O84,P85,Q,R_S,T,U
1,2000.0,1598.208541,0.026558,0.000536,842.441209,1131.17472,235.492662,520.714544,1390.219498,40.128615,...,12.507193,46.921773,53.845778,229.763603,252.55687,175.2313,740.187746,538.148995,0,0
2,2001.0,1745.825696,0.02644,0.000496,973.375579,1197.817083,259.175789,572.706539,1456.500109,43.466975,...,14.937704,50.100919,55.114829,281.548198,270.271405,214.296273,907.040527,717.410167,0,0
3,2002.0,1666.359047,0.014945,0.000278,899.859512,1358.457352,215.617675,580.329873,1447.454712,36.498932,...,14.547463,41.378481,46.270491,262.902507,247.459719,200.193799,795.473954,626.675199,0,0
4,2003.0,1730.753127,0.016138,0.000277,912.296053,1218.90805,183.987689,618.342646,1606.325958,36.137874,...,16.417908,40.021396,47.062916,287.202511,256.61849,227.701971,900.618355,744.345044,0,0
5,2004.0,1299.999147,0.015568,0.000257,881.030861,1122.39205,164.677676,509.619285,1453.777066,29.296845,...,16.107703,34.991984,42.090773,245.371565,198.955023,223.927634,935.644698,744.132529,0,0
6,2005.0,1411.65298,0.015159,0.000299,879.041935,1180.985247,181.511693,631.048267,1454.090115,32.828979,...,51.864246,20.687618,51.74421,314.334134,239.485119,238.339576,902.95459,698.897094,0,0
7,2006.0,808.82254,0.016564,0.000338,686.227267,1025.390543,163.409286,435.779672,1480.494914,24.751535,...,37.0202,17.860739,34.812842,213.722154,151.42841,216.264365,873.677523,747.099363,0,0
8,2007.0,783.37447,0.019524,0.000353,613.192416,988.176063,156.486693,452.374311,1433.075841,20.729383,...,37.936683,16.165457,31.259814,219.261104,143.133476,163.991524,711.317569,568.909141,0,0
9,2008.0,1575.679,115.907,0.172,927.246,1031.251,65.529,359.663,2205.366,23.174,...,9.404,23.28,53.987,278.377,322.783,1027.554,349.248,712.835,0,0
10,2009.0,1479.14,85.935,0.113,888.352,1073.171,68.395,372.676,2231.731,24.868,...,9.058,22.315,51.995,266.528,289.673,869.005,307.333,602.741,0,0
11,2010.0,1459.062,90.565,0.112,916.24,1157.572,78.322,355.228,2353.591,26.657,...,9.13,22.552,53.84,274.342,297.825,797.238,300.551,539.845,0,0
12,2011.0,1489.446,91.315,0.079,988.009,1113.288,68.198,324.827,2305.657,21.607,...,9.546,23.689,57.231,292.244,241.166,643.357,247.763,453.996,0,0
13,2012.0,1455.89,88.015,0.087,878.692,1109.831,62.573,341.923,2068.866,18.829,...,4.018,9.909,20.065,108.502,178.259,462.524,171.1,300.575,0,0
14,2013.0,1458.865,85.264,0.086,870.755,1049.678,57.368,322.4,1956.202,16.619,...,4.655,11.411,25.619,136.124,171.532,440.795,163.151,293.819,0,0
15,2014.0,1461.041,82.66,0.072,808.323,966.06,50.042,271.742,1741.212,12.125,...,4.327,10.635,22.026,118.407,162.69,414.308,151.144,275.99,0,0

In [ ]:
# We concatenate all the dataframes alphabetically 
concatenated = pd.concat([AUS, AUT, BEL, BGR, BRA, CAN, CHE, CHN, CYP, CZE, DEU, DNK, ESP, EST, FIN, FRA, GBR, GRC, HRV, HUN, IDN, IND, IRL, ITA, JPN, KOR, LTU, LUX, LVA, MEX, MLT, NOR, POL, PRT, ROU, RoW, RUS, SVK, SVN, SWE, TUR, TWN, USA], axis=1)

In [ ]:
concatenated

,Unnamed: 0,AUS,AUS.1,AUS.2,AUS.3,AUS.4,AUS.5,AUS.6,AUS.7,AUS.8,...,USA.46,USA.47,USA.48,USA.49,USA.50,USA.51,USA.52,USA.53,USA.54,USA.55
0,NaN,A01,A02,A03,B,C10-C12,C13-C15,C16,C17,C18,...,M72,M73,M74_M75,N,O84,P85,Q,R_S,T,U
1,2000.0,4682.316915,569.123756,57.596701,10938.21242,3683.347118,691.751551,248.180949,1969.609582,393.084814,...,6731.144354,6651.963807,2455.457633,79146.384731,279645.632734,15732.258935,82475.872871,40446.485566,0,0
2,2001.0,4600.546183,579.787295,48.980186,10716.020199,3748.542539,656.220191,225.975909,1915.636648,386.485097,...,7332.726019,7033.307581,2585.468634,82719.09259,285570.857293,17481.345712,88993.993161,42413.435798,0,0
3,2002.0,5086.468567,646.126429,56.919011,7687.944694,2335.572649,588.697287,181.677331,1252.945856,294.615249,...,7069.263456,6562.985556,2394.221552,80032.744558,313516.097625,18455.254113,92750.898899,42739.068502,0,0
4,2003.0,5906.178858,812.168244,32.067471,12883.551128,3631.580065,558.365611,152.61707,1379.491139,301.296886,...,7159.602097,6890.141744,2488.676914,78285.440489,320387.811927,19089.549108,97542.090405,42803.38359,0,0
5,2004.0,5909.437671,805.196767,34.239747,13701.798804,3398.050445,522.794283,142.818421,1474.14391,300.839294,...,6486.018492,6666.872796,2342.680382,72978.628385,308982.408043,18229.34346,91824.492383,39638.056959,0,0
6,2005.0,6175.061141,853.850923,27.285218,14752.035659,3827.514277,573.35954,138.39162,1618.347991,310.124889,...,5626.495672,6219.570227,2173.247228,66207.493348,283492.261395,16553.573442,84414.235513,36690.328184,0,0
7,2006.0,5792.72632,777.550244,29.592436,14514.791422,3825.715333,565.725865,152.231557,1623.003712,323.811021,...,5338.035804,6122.822442,2102.306925,65401.164138,262497.967912,15953.460327,81954.540202,34618.947267,0,0
8,2007.0,5706.907255,802.404167,31.724012,14310.643361,3498.627169,524.307472,134.188811,1545.404354,315.909749,...,5359.878183,6376.295102,2187.190371,63282.862935,262059.651105,16019.436274,82445.545952,34370.024079,0,0
9,2008.0,5629.75294,909.18395,23.8545,14389.389142,3485.910186,528.156485,108.093374,1497.98261,303.381185,...,5305.945588,5827.154729,1967.68015,58184.718053,256513.350262,15439.042058,78929.781963,33293.808343,0,0
10,2009.0,5484.019462,1027.211849,27.979384,15800.862432,3485.244753,469.4367,275.653661,1305.395584,250.468309,...,6053.54424,5925.333431,1916.811496,52587.715862,266113.296037,15793.149886,81234.429391,33553.837775,0,0
11,2010.0,5474.214332,1171.112051,26.497045,16893.417294,3401.788066,441.786008,311.913647,1326.311952,276.334338,...,6458.593241,6229.395149,1937.201918,54008.764565,259264.595721,16308.555544,82640.388847,32402.124563,0,0
12,2011.0,5449.284572,1226.131935,23.616137,18646.976599,3535.274588,427.785926,233.309717,1146.086231,235.758469,...,6194.575087,6012.392431,1864.457274,50862.648004,240111.362432,15113.01872,75800.627092,29940.191356,0,0
13,2012.0,5398.265201,1253.134921,23.423396,21123.908217,3379.418378,419.348727,217.976552,1051.780278,225.077644,...,6862.400802,6672.357379,2057.229243,57049.146265,228894.280863,20959.764308,82899.625683,31912.721782,0,0
14,2013.0,5564.694974,1255.915815,29.903738,23721.832054,3527.717293,408.541089,258.688964,996.855305,240.133471,...,6923.519615,6674.41571,2121.88242,57150.238077,233285.31404,21298.483643,82875.582296,32432.553398,0,0
15,2014.0,5450.040902,1266.008191,32.201594,24764.143064,3555.599013,420.611344,258.659325,935.148091,247.642543,...,6896.850914,6944.536443,2266.625327,59694.871124,242417.978619,21930.563319,84405.427838,32279.549928,0,0

In [ ]:
# Drop the labels
concatenated = concatenated.drop(concatenated.columns[0], axis=1)
concatenated = concatenated.drop(0)

In [ ]:
# Convert unit Kt to Mt
concatenated_inMt = concatenated /1000
concatenated_inMt

,AUS,AUS.1,AUS.2,AUS.3,AUS.4,AUS.5,AUS.6,AUS.7,AUS.8,AUS.9,...,USA.46,USA.47,USA.48,USA.49,USA.50,USA.51,USA.52,USA.53,USA.54,USA.55
1,4.682317,0.569124,0.057597,10.938212,3.683347,0.691752,0.248181,1.96961,0.393085,7.333998,...,6.731144,6.651964,2.455458,79.146385,279.645633,15.732259,82.475873,40.446486,0.0,0.0
2,4.600546,0.579787,0.04898,10.71602,3.748543,0.65622,0.225976,1.915637,0.386485,7.078061,...,7.332726,7.033308,2.585469,82.719093,285.570857,17.481346,88.993993,42.413436,0.0,0.0
3,5.086469,0.646126,0.056919,7.687945,2.335573,0.588697,0.181677,1.252946,0.294615,6.815424,...,7.069263,6.562986,2.394222,80.032745,313.516098,18.455254,92.750899,42.739069,0.0,0.0
4,5.906179,0.812168,0.032067,12.883551,3.63158,0.558366,0.152617,1.379491,0.301297,7.442378,...,7.159602,6.890142,2.488677,78.28544,320.387812,19.089549,97.54209,42.803384,0.0,0.0
5,5.909438,0.805197,0.03424,13.701799,3.39805,0.522794,0.142818,1.474144,0.300839,6.716173,...,6.486018,6.666873,2.34268,72.978628,308.982408,18.229343,91.824492,39.638057,0.0,0.0
6,6.175061,0.853851,0.027285,14.752036,3.827514,0.57336,0.138392,1.618348,0.310125,6.129491,...,5.626496,6.21957,2.173247,66.207493,283.492261,16.553573,84.414236,36.690328,0.0,0.0
7,5.792726,0.77755,0.029592,14.514791,3.825715,0.565726,0.152232,1.623004,0.323811,5.534858,...,5.338036,6.122822,2.102307,65.401164,262.497968,15.95346,81.95454,34.618947,0.0,0.0
8,5.706907,0.802404,0.031724,14.310643,3.498627,0.524307,0.134189,1.545404,0.31591,5.659479,...,5.359878,6.376295,2.18719,63.282863,262.059651,16.019436,82.445546,34.370024,0.0,0.0
9,5.629753,0.909184,0.023855,14.389389,3.48591,0.528156,0.108093,1.497983,0.303381,5.282555,...,5.305946,5.827155,1.96768,58.184718,256.51335,15.439042,78.929782,33.293808,0.0,0.0
10,5.484019,1.027212,0.027979,15.800862,3.485245,0.469437,0.275654,1.305396,0.250468,4.980939,...,6.053544,5.925333,1.916811,52.587716,266.113296,15.79315,81.234429,33.553838,0.0,0.0
11,5.474214,1.171112,0.026497,16.893417,3.401788,0.441786,0.311914,1.326312,0.276334,6.733982,...,6.458593,6.229395,1.937202,54.008765,259.264596,16.308556,82.640389,32.402125,0.0,0.0
12,5.449285,1.226132,0.023616,18.646977,3.535275,0.427786,0.23331,1.146086,0.235758,6.756887,...,6.194575,6.012392,1.864457,50.862648,240.111362,15.113019,75.800627,29.940191,0.0,0.0
13,5.398265,1.253135,0.023423,21.123908,3.379418,0.419349,0.217977,1.05178,0.225078,6.325118,...,6.862401,6.672357,2.057229,57.049146,228.894281,20.959764,82.899626,31.912722,0.0,0.0
14,5.564695,1.255916,0.029904,23.721832,3.527717,0.408541,0.258689,0.996855,0.240133,5.982719,...,6.92352,6.674416,2.121882,57.150238,233.285314,21.298484,82.875582,32.432553,0.0,0.0
15,5.450041,1.266008,0.032202,24.764143,3.555599,0.420611,0.258659,0.935148,0.247643,5.499204,...,6.896851,6.944536,2.266625,59.694871,242.417979,21.930563,84.405428,32.27955,0.0,0.0

In [ ]:
concatenated_inMt.index = range(2000, 2015)

In [ ]:
concatenated_inMt

,AUS,AUS.1,AUS.2,AUS.3,AUS.4,AUS.5,AUS.6,AUS.7,AUS.8,AUS.9,...,USA.46,USA.47,USA.48,USA.49,USA.50,USA.51,USA.52,USA.53,USA.54,USA.55
2000,4.682317,0.569124,0.057597,10.938212,3.683347,0.691752,0.248181,1.96961,0.393085,7.333998,...,6.731144,6.651964,2.455458,79.146385,279.645633,15.732259,82.475873,40.446486,0.0,0.0
2001,4.600546,0.579787,0.04898,10.71602,3.748543,0.65622,0.225976,1.915637,0.386485,7.078061,...,7.332726,7.033308,2.585469,82.719093,285.570857,17.481346,88.993993,42.413436,0.0,0.0
2002,5.086469,0.646126,0.056919,7.687945,2.335573,0.588697,0.181677,1.252946,0.294615,6.815424,...,7.069263,6.562986,2.394222,80.032745,313.516098,18.455254,92.750899,42.739069,0.0,0.0
2003,5.906179,0.812168,0.032067,12.883551,3.63158,0.558366,0.152617,1.379491,0.301297,7.442378,...,7.159602,6.890142,2.488677,78.28544,320.387812,19.089549,97.54209,42.803384,0.0,0.0
2004,5.909438,0.805197,0.03424,13.701799,3.39805,0.522794,0.142818,1.474144,0.300839,6.716173,...,6.486018,6.666873,2.34268,72.978628,308.982408,18.229343,91.824492,39.638057,0.0,0.0
2005,6.175061,0.853851,0.027285,14.752036,3.827514,0.57336,0.138392,1.618348,0.310125,6.129491,...,5.626496,6.21957,2.173247,66.207493,283.492261,16.553573,84.414236,36.690328,0.0,0.0
2006,5.792726,0.77755,0.029592,14.514791,3.825715,0.565726,0.152232,1.623004,0.323811,5.534858,...,5.338036,6.122822,2.102307,65.401164,262.497968,15.95346,81.95454,34.618947,0.0,0.0
2007,5.706907,0.802404,0.031724,14.310643,3.498627,0.524307,0.134189,1.545404,0.31591,5.659479,...,5.359878,6.376295,2.18719,63.282863,262.059651,16.019436,82.445546,34.370024,0.0,0.0
2008,5.629753,0.909184,0.023855,14.389389,3.48591,0.528156,0.108093,1.497983,0.303381,5.282555,...,5.305946,5.827155,1.96768,58.184718,256.51335,15.439042,78.929782,33.293808,0.0,0.0
2009,5.484019,1.027212,0.027979,15.800862,3.485245,0.469437,0.275654,1.305396,0.250468,4.980939,...,6.053544,5.925333,1.916811,52.587716,266.113296,15.79315,81.234429,33.553838,0.0,0.0
2010,5.474214,1.171112,0.026497,16.893417,3.401788,0.441786,0.311914,1.326312,0.276334,6.733982,...,6.458593,6.229395,1.937202,54.008765,259.264596,16.308556,82.640389,32.402125,0.0,0.0
2011,5.449285,1.226132,0.023616,18.646977,3.535275,0.427786,0.23331,1.146086,0.235758,6.756887,...,6.194575,6.012392,1.864457,50.862648,240.111362,15.113019,75.800627,29.940191,0.0,0.0
2012,5.398265,1.253135,0.023423,21.123908,3.379418,0.419349,0.217977,1.05178,0.225078,6.325118,...,6.862401,6.672357,2.057229,57.049146,228.894281,20.959764,82.899626,31.912722,0.0,0.0
2013,5.564695,1.255916,0.029904,23.721832,3.527717,0.408541,0.258689,0.996855,0.240133,5.982719,...,6.92352,6.674416,2.121882,57.150238,233.285314,21.298484,82.875582,32.432553,0.0,0.0
2014,5.450041,1.266008,0.032202,24.764143,3.555599,0.420611,0.258659,0.935148,0.247643,5.499204,...,6.896851,6.944536,2.266625,59.694871,242.417979,21.930563,84.405428,32.27955,0.0,0.0

In [ ]:
# Iterate over the rows and save each row as an Excel file named 'F_year'
for index, row in concatenated_inMt.iterrows():
    # Generate a unique identifier or a simplified version of the row data as the file name
    file_name = f'/path/where/you/want/file/to/be/saved/F_{index}.xlsx'
    
    # Create a DataFrame with the row data
    row_df = pd.DataFrame(row).T
    
    # Save the DataFrame as an Excel file with the modified file name
    row_df.to_excel(file_name, index=False)